@media (max-width: 700px) {

  .header-index h2 {
    top: 180px;
    left: 40px;
    right: 30px;
    font-size: 70px;
    text-shadow: none;
  }

  .header-index {
    height: 300vh;
  }

  #barre-navig ul a {
    text-align: center;
    line-height: 25px;
  }

  li a:hover:after {
    width: 0;
    background: #fff;
  }



  #bandeau {
    padding: 40px;

  }



  .titre-cameleon h2 {
    font-size: 43px;
    padding-top: 55px;
    margin-bottom: -20px;

  }

  #card {
    display: flex;
    flex-direction: column;
    padding-right: 90px;
    padding-left: 55px;
    gap: 40px;
  }

  .cameleon img {
    width: 280px;

  }

  .header h2 {

    top: 250px;
    text-shadow: none;
    font-size: 60px;
  }

  .header {
    background-size: cover;
    background-attachment: scroll;
    height: 50vh;
  }

  .header1 {
    top: 180px;
    left: 40px;
    right: 30px;
    font-size: 70px;
    text-shadow: none;
    height: 440px;
    background-attachment: inherit;
  }



  .header1 h2 {
    font-size: 70px;
    top: 20%;
    text-shadow: none;
  }

  .header3 h2 {
    font-size: 70px;
    top: 50%;
    padding-left: 50px;
  }

  .header3 h2 {
    top: 80px;
    left: 20px;
    right: 90px;
    font-size: 60px;
    text-shadow: none;
    background-attachment: inherit;
  }

  .header3 {
    height: 440px;
  }

  footer ul a {
    text-align: center;
    line-height: 20px;
  }

  .titre-video h2 {
    font-size: 50px;
  }


  .card-img-top {
    max-width: 100%;
  }

  #leopard {
    margin-bottom: 60px;
  }



  #card-shadow-1 {
    margin-bottom: 60px;
  }



  .card-body {
    padding: 1rem;
    text-align: center;


  }

  .card-title {
    font-size: 1.25rem;

  }

  .card-text {
    font-size: 1rem;

  }

  .btn {
    font-size: 0.875rem;

    padding: 0.375rem 0.75rem;

  }

  .bateau img {
    display: flex;
    max-width: 90%;
  }
}