@media (max-width: 810px) {

  #barre-navig ul a {
    text-align: center;
    line-height: 25px;
  }

  li a:hover:after {
    width: 0;
    background: #fff;
  }

  .header {
    background-size: contain;
    background-attachment: scroll;
    height: 300px;
  }

  #bandeau {
    padding: 0;
  }




  .header h2 {
    font-size: 70px;
    top: 14%;


  }

  .header1 h2 {
    font-size: 70px;
    top: 20%;
  }

  .header3 h2 {
    font-size: 70px;
    top: 50%;
    padding-left: 50px;
  }



  footer ul a {
    text-align: center;
    line-height: 20px;
  }

  /* Ajoutez ceci à votre fichier mobile.css */

  .card {
    margin-bottom: 20px;
    /* Espacement entre les cartes */
  }

  .card-img-top {
    /* height: auto; */
    /* Réinitialisez la hauteur de l'image à "auto" */
    max-width: 100%;
    /* Ajuste la largeur maximale de l'image à 100% du conteneur */
    object-fit: contain;
    /* Redimensionne l'image pour qu'elle s'adapte à la largeur du conteneur tout en conservant son ratio d'aspect */
    padding-top: 30px;
  }


  .card-body {
    padding: 1rem;
    /* Espacement interne du corps de la carte */
  }

  .card-title {
    font-size: 1.25rem;
    /* Taille de police du titre */
  }

  .card-text {
    font-size: 1rem;
    /* Taille de police du texte */
  }

  .btn {
    font-size: 0.875rem;
    /* Taille de police du bouton */
    padding: 0.375rem 0.75rem;
    /* Espacement interne du bouton */
  }
}