/* Styles pour h2 */
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* Styles pour h3 */
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #34495e;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 15px;
    border-left: 5px solid #3498db;
    padding-left: 15px;
    line-height: 1.2;
}

/* Effet d'animation pour les titres */
h2.animate__animated.animate__fadeInUp,
h3.animate__animated.animate__fadeInUp {
    animation-duration: 1s;
    animation-fill-mode: both;
}

:root {
    --primary-color: #67a3bc;
    --secondary-color: #f39c12;
    --dark-color: #262626;
    --light-color: #f4f4f4;
    --text-color: #333;
    --text-light-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-hover-color: rgba(0, 0, 0, 0.2);
}

/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dancing Script', cursive;
    margin: 1rem 0;
    color: var(--primary-color);
}



p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}




/* Styles pour h2 dans les containers */
.container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* Styles pour h3 dans les containers */
.container h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75em;
    color: #34495e;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 15px;
    border-left: 5px solid #3498db;
    padding-left: 15px;
    line-height: 1.3;
}

/* Effet d'animation pour les titres */
.container h2.animate__animated.animate__fadeInUp,
.container h3.animate__animated.animate__fadeInUp {
    animation-duration: 1s;
    animation-fill-mode: both;
}








/* Style commun pour la barre de navigation */
.navbar {
    background-color: var(--dark-color);
    box-shadow: 0 4px 6px var(--shadow-color);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--text-light-color);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: none;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    color: var(--primary-color) !important;
}

#titre-1 {
    color: var(--primary-color);
}

li a:after {
    content: "";
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: 0.4s ease, 0.4s ease;
    background-color: var(--text-light-color);
}

li a:hover:after {
    width: 90%;
    background: var(--text-light-color);
}

li a:hover {
    background-color: transparent;
}

.header-index {
    background-image: url('../IMG/header-principal.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-index .content {
    color: var(--text-light-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.content h1 {
    color: white;
    font-size: 4.5em;
}

.header-index h2 {
    font-size: 5em;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
}

.intro-section {
    background-color: var(--text-light-color);
    padding: 60px 0;
    text-align: center;
}


/* Assurez-vous que les cartes sont de la même hauteur */
.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex: 1 1 300px;
    /* Ajustez cette valeur selon vos besoins */
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    height: 200px;
    /* Ajustez cette valeur pour une hauteur uniforme */
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.25rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: var(--text-color);
    flex-grow: 1;

}

.btn-index {
    align-self: flex-start;

}

.btn-index button {
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: var(--text-light-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-index button:hover {
    background-color: var(--secondary-color);
    color: var(--text-light-color);
}



.about-section {
    background-color: var(--text-light-color);
    padding: 60px 0;
    text-align: center;
}

.footer {
    background-color: var(--dark-color);
    color: var(--text-light-color);
    padding: 20px 0;
    text-align: center;
}

.footer h5 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--primary-color);
}

#titre-1 {
    color: var(--primary-color);
}

li a {
    line-height: 35px;
}

li a:after {
    content: "";
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: 0.4s ease, 0.4s ease;
    background-color: var(--text-light-color);
}

li a:hover:after {
    width: 90%;
    background: var(--text-light-color);
}

li a:hover {
    background-color: transparent;
}

a:visited {
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .header-index h2 {
        font-size: 2.5em;
    }

    .btn-index button {
        width: 100%;
    }
}