* {
  /* scroll-behavior: smooth; */
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-animation: colorchange 30s infinite;
  animation: colorchange 30s infinite;
}



h1,
h2 {
  font-family: "Dancing Script", cursive;
}

.header-index {
  background-image: url(../IMG/animaux/sifaka-6027010_1280.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 240vh;
}



.btn-index button {
  border: 1px solid black;
  padding: 7px;
  border-radius: 10px;
  margin-left: 100px;
}

.btn-index button:hover {
  background-color: black;
  color: white;
}

#card-shadow,
#card-shadow-1,
#card-shadow-2,
#card-shadow-3,
#card-shadow-4,
#card-shadow-5 {
  box-shadow: 11px 15px 65px 0px #000000;
}

#card-mobile {
  gap: 20px;
  margin-top: 90px;
}

.header-index h2 {
  position: absolute;
  top: 150px;
  left: 400px;
  color: white;
  font-size: 120px;
  text-shadow: 3px 3px #67a3bc;
  text-align: center;

}

#image-cameleon img {
  width: 50%;
}


#titre-1 {
  color: #67a3bc;
}

#bandeau {
  background: #262626;
  padding: 50px;
  margin-bottom: 60px;

}

/* Effet d'une barre au passage de la souris */

li a {
  line-height: 35px;
}

#leopard {
  margin-bottom: 60px;
}

li a:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: 0.4s ease, 0.4s ease;
  background-color: #fff;
}

li a:hover:after {
  width: 90%;
  background: #fff;
}

li a:hover {
  background-color: #67a3bc;
  /* background-color: #67a3bc; */
}

a:visited {
  color: #67a3bc;
}




.lien-page button {
  border: none;
  border-radius: 20px;
  padding: 7px;
}

.lien-page button:hover {
  background-color: #67a3bc;
  color: white;
}


.titre-cameleon h2 {
  padding-top: 150px;
  font-size: 70px;

}

.container {
  max-width: 1440px;
  margin: 0 auto;
}


.cameleon img {
  box-shadow: 11px 15px 65px 0px #000000;
}


#btn-cameleon {
  display: block;
  width: 50%;
  margin: auto;
  font-size: 20px;
}

#card {
  display: flex;
  padding-left: 80px;
  margin-top: 100px;

}

.card img {
  width: 100%;

  height: 250px;
}

.card h2 {
  color: #ea3d52;
  text-align: center;
}

.galerie {
  padding: 0 14px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3vmin;
}

.galerie li {
  list-style-type: none;
  height: 250px;
  flex-grow: 1;
}

.galerie img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container img {
  position: relative;
}

/* Element qui superpose l'image */
.relaxation {
  position: absolute;
  color: #fff;
  top: 430%;
  right: 8%;
  width: 45%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  background-color: #2559f6;
}

.relaxation h2 {
  padding-bottom: 20px;
}

.relaxation p {
  padding-bottom: 20px;
}


/* Element qui superpose l'image */
.arts {
  position: absolute;
  color: #fff;
  top: 595%;
  width: 45%;
  margin-left: 50px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  background-color: #451245;
}

.arts h2 {
  padding-bottom: 20px;
}

.arts p {
  padding-bottom: 20px;
}

/* Element qui superpose l'image */
.activites {
  position: absolute;
  color: #fff;
  top: 746%;
  right: 8%;
  width: 45%;
  margin-left: 50px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ea3d52;
}

.activites h2 {
  padding-bottom: 20px;
}

.activites p {
  padding-bottom: 20px;
}

.btn {
  background-color: #00774e;
  border: unset;
}

.btn:hover {
  background-color: black;
  color: #fff;
}

.header3 {
  background-image: url(../IMG/header3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.header3 h2 {
  position: absolute;
  top: 20%;
  color: white;
  padding-left: 10%;
  font-size: 100px;
  /* text-shadow: 3px 3px #67a3bc; */
  text-shadow: 3px 3px #67a3bc;
  text-align: center;
}

.header {
  background-image: url(../IMG/animaux/animal3.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;

}

.header h2 {
  position: absolute;
  top: 20%;
  color: white;
  padding-left: 10%;
  font-size: 100px;
  text-shadow: 3px 3px #67a3bc;
}

.header1 {
  background-image: url(../IMG/header1.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.header1 h2 {
  position: absolute;
  top: 22%;
  color: white;
  padding-left: 20%;
  font-size: 100px;
  text-shadow: 3px 3px #67a3bc;
}


.titre-video h2 {
  text-align: center;
  padding-top: 50px;
  font-size: 70px;
  color: black;
}

.video {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 80px;
}



.formulaire {
  background-color: #f8f9fa;
  margin-top: 180px;
  width: 80vw;
  margin-left: 37px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 20px;
  padding: 10px;

}


.contact-form {
  max-width: 500px;
  margin: 50px auto;
}

.contact-form h2 {
  font-size: 30px;
}

.header-cameleon {
  background-image: url(/IMG/animaux/header-cameleon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: top;
  height: 100vh;

}

.header-cameleon h2 {
  position: absolute;
  top: 250px;
  color: white;
  padding-left: 9%;
  font-size: 120px;
  text-shadow: 3px 3px #67a3bc;
  text-align: center;
}

/* 
body {
  background-image: url(../IMG/header1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */