:root {
    --primary-color: #67a3bc;
    --secondary-color: #f39c12;
    --dark-color: #262626;
    --light-color: #f4f4f4;
    --text-color: #333;
    --text-light-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-hover-color: rgba(0, 0, 0, 0.2);
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--light-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dancing Script', cursive;
    color: var(--primary-color);
    margin: 1rem 0;
}

/* Modern Heading Styles */
h2 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--dark-color);

    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}

h4 {
    font-size: 1.75rem;
    color: var(--dark-color);
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;

}

h4::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar et Footer Styles Communs */
.navbar {
    background-color: var(--dark-color);
    color: var(--text-light-color);
}

.navbar {
    box-shadow: 0 4px 6px var(--shadow-color);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--text-light-color);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: none;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    color: var(--primary-color) !important;
    text-decoration: none;
}

.navbar-toggler {
    border-color: var(--primary-color);
}

#titre-1,
#titre {
    color: var(--primary-color);
}

li a:after {
    content: "";
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: 0.4s ease, 0.4s ease;
    background-color: var(--text-light-color);
}

li a:hover:after {
    width: 90%;
    background: var(--text-light-color);
}

li a:hover {
    background-color: transparent;
}

/* Header */
.header-cameleon {
    margin: 0;
    background: url('../IMG/animaux/header-cameleon.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 66vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light-color);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.header-cameleon h2 {
    font-size: 5rem;
    animation: fadeInUp 2s;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;

}

/* Sections */
.titre-cameleon2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--dark-color);
    text-align: center;
    position: relative;
}

.titre-cameleon2::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.titre-container {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--dark-color);
    position: relative;
    text-align: center;
}

.titre-container::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.container p {
    max-width: 800px;
    margin: 0 auto 2rem auto;

}

/* Images */
.img-container {
    position: relative;
    width: 45%;
    padding-top: 25%;
    overflow: hidden;
    margin: 0.5rem;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px var(--shadow-hover-color);
}

/* Footer */
.footer {
    padding: 20px 0;
    text-align: center;
}

.footer h5 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--primary-color);
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}